body {
    background-color: bisque;
    max-width: 800px;
    margin: auto;
    color: black;
}
header {
    font-size: 20px;
    font: navy;
    max-width: 750px;
    padding: 15px; 
}
header > nav {
    float: right;
}
main {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
h1 {
    font-size: 25px;
    text-decoration-line: underline;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 20px;
}
img {
    float: left;
}