body {
    background-color: bisque;
    margin: 0;
    color: black;
}
header {
    font-size: 20px;
    font: navy;
    margin: auto;
    padding: 15px; 
}
section.navigation {
    text-align: left
}
h1 {
    font-size: 18px;
    text-decoration: wavy;
}
p {
    background-color: pink;
    padding: 20px;
    font-size: 15px;
}