body {
    background-color: bisque;
    margin: 0px;
    max-width: 800px;
    margin: auto;
    color: black;
}
header {
    margin: wrap;
    background: rgb(244, 209, 233);
    color: navy;
    font-size: 30px;
    padding: 20px; 
    border-bottom: 8px dashed gray;
}
header > nav {
    float: right;
    font-size: 20px;
}
main {
    margin-top,bottom: 15px;
    padding: auto;
    background-image: url(//source.unsplash.com/1280x720/?white?5);
    background-position: center;
}
main > section {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
h1 {
    font-size: 25px;
    border-bottom: 5px dotted grey;
}
p {
    font-size: 20px;
}
img {
    float: left;
}
section {
    float: left;
    max-width: 600px;
}
main aside a{
    display: block;
}
main > aside {
    background-color: pink;
    padding: 5px;
    float: right;
    text-align: center;
    font-size: justify;
    font-size: 20px;
    border: 5px dotted black;
}
main::after{
    content: "";
    clear: both;
    display: block;
}
footer {
    text-align: center;
    margin: 40px 0 20px;
}